body {
    background: #1e1e1e;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

pre {
    width: 100%;
    display: flex;
    justify-content: center;
}

pre code {
    width: 500px;
    font-size: clamp(1rem, (2.5rem), 4rem);
}
